<h1 mat-dialog-title class="title">Register</h1>

<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">

    <div class="row">
    <div class="example-container">
    <mat-form-field appearance="outline" class="mat-input">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname" type="text" placeholder="First Name">
      </mat-form-field>
    <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" type="text" placeholder="Last Name">
      </mat-form-field>
      </div>
      </div>

      <div class="row">
        <mat-label>Upload your photo</mat-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" formControlName="imageUrl">
        <img [src]="imageUrl" *ngIf="imageUrl" style="max-width: 100%; max-height: 200px;">
      </div>

      <div class="row">

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" placeholder="Email">
          </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>(541)-754-3010</mat-label>
            <input matInput formControlName="phoneNumber" type="text" placeholder="(541)-754-3010">
          </mat-form-field>
          </div>

      <div class="row">
        <mat-label>Age</mat-label>
        <mat-slider min="20" step="1" max="60" discrete="true" >
            <input matSliderThumb [(ngModel)]="selectedvalue" formControlName="age">
          </mat-slider>
          </div>  

      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              <mat-option value="maharashtra">Maharashtra</mat-option>
              <mat-option value="andhra pradesh">Andhra Pradesh</mat-option>
              <mat-option value="kerala">Kerala</mat-option>
              <mat-option value="delhi">Delhi</mat-option>
              <mat-option value="chennai">Chennai</mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                  <mat-option value="india">India</mat-option>
                  <mat-option value="new zealand">New Zealand</mat-option>
                  <mat-option value="england">England</mat-option>
                  <mat-option value="austrailia">Austrailia</mat-option>
                  <mat-option value="west indies">West Indies</mat-option>
                  <mat-option value="south africa">South Africa</mat-option>
                </mat-select>
              </mat-form-field>
              </div>

          <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" type="text" placeholder="Address">
              </mat-form-field>
              </div>

          <div class="row">
            <app-home></app-home>
              </div>

           <div class="row">
                <section class="example-section">
                    <mat-checkbox class="example-margin" formControlName="status"> subscribe to newsletter</mat-checkbox>
                  </section>
            </div>

</div>

<div mat-dialog-actions>
    <button mat-raised-button class="btn-cancel" type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="btn-save" type="submit">Submit</button>
</div>
</form>